In [1]:
%defaultDatasource jdbc:h2:file:~/data/receitas/receitas

DROP Table IF EXISTS Ingrediente;
DROP Table IF EXISTS Receita;
DROP Table IF EXISTS Produto;

CREATE TABLE Produto (
  codigo_produto VARCHAR(7),
  nome_produto VARCHAR(80),
  custo_unitario FLOAT,
  PRIMARY KEY (codigo_produto)
);

CREATE TABLE Receita (
  codigo_receita VARCHAR(7),
  nome_receita VARCHAR(80),
  tipo_receita VARCHAR(6),
  PRIMARY KEY (codigo_receita));
               
CREATE TABLE Ingrediente (
  codigo_receita VARCHAR(7),
  codigo_produto VARCHAR(7),
  quantidade FLOAT,
  PRIMARY KEY (codigo_receita, codigo_produto),
  FOREIGN KEY (codigo_receita)
    REFERENCES Receita (codigo_receita),
  FOREIGN KEY (codigo_produto)
    REFERENCES Produto (codigo_produto) );

INSERT INTO Produto VALUES ('CHOCO', 'Chocolate', 3.0);
INSERT INTO Produto VALUES ('CENO', 'Cenoura', 1.5);
INSERT INTO Produto VALUES ('ACU', 'Acucar', 0.5);
INSERT INTO Produto VALUES ('SUCRA', 'Sucralose', 5.0);
INSERT INTO Produto VALUES ('FAR', 'Farinha', 1.0);

INSERT INTO Receita VALUES ('BOLOCE', 'Bolo Cenoura', 'vegana');
INSERT INTO Receita VALUES ('BOLOCH', 'Bolo Chocolate', 'normal');
INSERT INTO Receita VALUES ('BOLOCEL', 'Bolo Cenoura Light', 'light');

INSERT INTO Ingrediente VALUES ('BOLOCE', 'CENO', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCE', 'ACU', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCE', 'FAR', 3.0);
INSERT INTO Ingrediente VALUES ('BOLOCH', 'CHOCO', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCH', 'ACU', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCH', 'FAR', 3.0);
INSERT INTO Ingrediente VALUES ('BOLOCEL', 'CENO', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCEL', 'SUCRA', 1.0);
INSERT INTO Ingrediente VALUES ('BOLOCEL', 'FAR', 3.0);

SELECT * FROM Produto;
SELECT * FROM Receita;
SELECT * FROM Ingrediente;

In [6]:
SELECT I.CODIGO_RECEITA, P.CODIGO_PRODUTO
FROM Ingrediente I, Produto P
WHERE I.CODIGO_PRODUTO = P.CODIGO_PRODUTO

In [2]:
SELECT I.CODIGO_RECEITA, SUM(I.quantidade * P.custo_unitario) custo_receita
FROM Ingrediente I, Produto P
WHERE I.CODIGO_PRODUTO = P.CODIGO_PRODUTO
GROUP BY I.CODIGO_RECEITA;

In [3]:
UPDATE Produto P
SET P.custo_unitario = P.custo_unitario * 1.1;

SELECT *
FROM Produto P;

In [4]:
SELECT I.CODIGO_RECEITA, SUM(I.quantidade * P.custo_unitario) custo_receita
FROM Ingrediente I, Produto P
WHERE I.CODIGO_PRODUTO = P.CODIGO_PRODUTO
GROUP BY I.CODIGO_RECEITA;

In [5]:
SELECT P.nome_produto
FROM Produto P, Ingrediente I, Receita R
WHERE R.codigo_receita=I.codigo_receita AND P.codigo_produto=I.codigo_produto
      AND R.tipo_receita='vegana' AND P.custo_unitario > 1.0